@import 'base/variables';
@import 'base/fonts';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'base/media';

html {
    font-family: 'Museo', 'MuseoModerno', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
