.consultation {
    background: url(../img/bg/bg2.png) center (center/cover) no-repeat ;
    min-height: 680px;
    padding: 100px 0 108px ;
    h2 {
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
    }
    &__desc {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 8px;
    }
}